.bgPressRelease1{
    background-image: url(../../assets/public/images/itemPressReleases1.png);
}
.bgPressRelease2{
    background-image: url(../../assets/public/images/itemPressReleases2.png);
}
.bgPressRelease3{
    background-image: url(../../assets/public/images/itemPressReleases3.png);
}
.bgPressRelease4{
    background-image: url(../../assets/public/images/itemPressReleases4.png);
}
