.bgMissionVision {
    background: url(../../assets/public/images/bgMissionVision.png);
}

.bgMissionVision2 {
    border-radius: 50px 50px 20px 20px;
    background: url(../../assets/public/images/bgMissionVision3.png);
}