@media screen and (min-width:1024px) {
    .itemOurProducts {
        transition: all 1s;
    }

    .itemOurProducts:hover {
        padding: 35px 0 0 0;
        border-radius: 50px;
        height: 350px;
        background-color: #22251B;
        transform: scale(1.1) translateY(-25px);
        outline: solid;
        outline-width: 0.5px;
        box-shadow: 0 0 30px 25px #1C1C1C inset;
        outline-color: #CAFF33;
        /* border: 1px solid #CAFF33; */
    }

    .itemOurProducts>div {
        transition: all 1s;
    }

    .itemOurProducts:hover>:last-child {
        transform: scale(0.9);
    }

    .itemOurProducts:hover>:first-child {
        transform: rotate(-360deg);
    }

    .itemOurProducts:hover>:nth-child(2) {
        transform: scale(1.2);
    }
}