.bgCTA{
    background: url(../../../public/images/Abstract\ Design\ useCase\ left.svg);   
}

.ourCard{
    background-color: aqua;
}

.bgStart{
    background-image: url(../../assets/public/images/AbstractDesignUseCaseLeft.svg);
}